* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.apa{
    width: 100%;
    height: 100vh;
    background-color: #49BBAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 31.25rem;
    height: 31.25rem;
    background-color: #F8B732;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "judul judul judul"
    "search search search"
    "aktif new recover"
    "cases deaths tests";
    border-radius: 8px;
}

h1{
    grid-area: judul;
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.cari{
    grid-area: search;
    display: flex;
    justify-self: center;
}


#countryInput{
    display: flex;
    width: 12.5rem;
    height: 1.875rem;
    color: black;
    justify-self: center;
    margin-right: 0.313rem;
    border-radius: 0.625;
}


#searchButton{
    width: 5rem;
    height: 2.188rem;
    border-radius: 1.25rem;
    background-color: rgb(255,73,29);
    justify-self: flex-start;
    cursor: pointer;
}

#searchButton:hover{
    background-color: #49BBAB;
}


.active{
    grid-area: aktif;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FE6E04;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
    margin-bottom: 3.125rem;
}

.active p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.active i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}

.newcase{
    grid-area: new;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FD780D;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
}

.newcase p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.newcase i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}

.recovered{
    grid-area: recover;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FD8419;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
}

.recovered p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.recovered i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}

.totalcases{
    grid-area: cases;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FF9124;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
    margin-bottom: 4.375rem;
}

.totalcases p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.totalcases i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}

.totaldeaths{
    grid-area: deaths;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FDA83D;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
}

.totaldeaths p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.totaldeaths i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}

.totaltest{
    grid-area: tests;
    width: 9.375rem;
    height: 8.125rem;
    background-color: #FFB64D;
    border-radius: 0.313rem;
    margin-left: 0.313rem;
}

.totaltest p{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.totaltest i{
    margin-top: 1.125rem;
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center; 
}
